a {
  color: #ffffff;
  text-decoration: blink;
}

a:hover {
  color: #afece0;
}

@media (prefers-reduced-motion: no-preference) {
  img {
    animation: img-spin infinite 10s linear;
  }
}

@keyframes img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

